@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8fceb;
  color: #333c4a;
}

input {
  border: 2px solid #333c4a;;
  border-radius: 8px;
  text-align: center;
}

input, label {
  margin: 2px;
}

#form {
  text-align: center;
  margin: 2px;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 17em
}

#bg-right {
  background-color: #495664;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 70%;
  right: 0;
  z-index: -1;
}

#bg-left {
  background-color: #495664;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  z-index: -1;
}

#auth{
  text-align: center;
  margin: 0;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 17em
}

#content{
  padding: 10px;
  line-height: 30px;
}